@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import './css/Postcards.css';

.App {
  display: flex;
  justify-content: center;
  background-color: #005776;
}

.PostcardsHome {
  background-color: #005776;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  font-family: 'Fredoka One', sans-serif;
  color: white;
  letter-spacing: 0.1mm;
}



textarea {
  font-family: 'Fredoka One', sans-serif;
  color: black;
  font-weight: 100;
  letter-spacing: 0.1mm;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px){
  .PostcardsHome {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
  }
}